<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="common/header.html::header"></head>

<body>
  <v-app id="app">

    <!-- <v-navigation-drawer app    v-model="drawer">
          <v-bmenu :itens="menus"></v-bmenu>
        </v-navigation-drawer> -->
    <!-- <v-app-bar app>
      <v-app-bar-nav-icon @click="drawer = !drawer"></v-app-bar-nav-icon>

      <v-toolbar-title>Application</v-toolbar-title>
    </v-app-bar> -->

    <v-main>
      <v-container class="mt-10">

        <v-row>
          <v-col cols="3">
            <v-row class="d-flex justify-center align-center">
              <v-col cols="12">
                <v-text-field label="CPF" v-model="cpf" dense clearable></v-text-field>
              </v-col>
              <v-col cols="12" align="center">
                <v-card height="65">
                  <v-card-text>
                    <span v-if="pessoa.nmFunc">{{ pessoa.nrNip }} - {{ pessoa.nmFunc }}</span>
                  </v-card-text>
                </v-card>

              </v-col>

              <v-col cols="6">
                <v-autocomplete v-model="moduloSelecionado" :items="modulos.map((e) => e.cdProj + e.idModu)" dense
                  label="Modulo" :disabled="!pessoa.nmFunc" @change="handleChangeModulo"></v-autocomplete>
              </v-col>
              <v-col cols="6" data-app>
                <v-autocomplete v-model="oiSelecionado" :items="listaOi" item-label="oi" dense label="OI"
                  @update:search-input="handleInputOi"></v-autocomplete>
              </v-col>
            </v-row>
          </v-col>
          <v-col cols="9">
            <v-card>

              <v-layout align-start justify-center>
                <v-flex xs6 class="elevation-1 pa-3 ma-2">
                  <v-list v-if="perfis" dense>
                    <v-subheader> PERFIS DISPONÍVEIS </v-subheader>

                    <v-list-item v-for="(item, index) in perfis" :key="index">
                      <v-list-item-content>
                        <v-list-item-title v-if="item.codigoNivelAcesso"
                          v-text="item.codigoNivelAcesso.idNivlAces"></v-list-item-title>

                      </v-list-item-content>

                      <v-list-item-action>
                        <v-btn icon @click="associaPerfil(item)">
                          <v-icon color="grey lighten-1">mdi-arrow-right</v-icon>
                        </v-btn>
                      </v-list-item-action>
                    </v-list-item>

                  </v-list>
                </v-flex>
                <v-flex xs6 class="elevation-1 pa-3 ma-2">
                  <v-list v-if="perfisAssociados" two-line dense>
                    <v-subheader>
                      PERFIL ASSOCIADO: {{ moduloSelecionado }}</v-subheader>

                    <v-list-item v-for="(item, index) in perfisAssociados" :key="index">
                      <v-list-item-content>
                        <v-list-item-title v-text="item.codigoNivelAcesso.idNivlAces"></v-list-item-title>
                        <v-list-item-subtitle>OI: {{ item.oi }}</v-list-item-subtitle>
                      </v-list-item-content>

                      <v-list-item-action>
                        <v-btn icon @click="desassociaPerfil(item)">
                          <v-icon color="grey lighten-1">mdi-close</v-icon>
                        </v-btn>
                      </v-list-item-action>
                    </v-list-item>

                  </v-list>
                </v-flex>
              </v-layout>
            </v-card>
          </v-col>
        </v-row>

      </v-container>
    </v-main>
  </v-app>
  </div>


  <script src="js/custom/perfil.js"></script>
  <script src="js/components/teste.js"></script>
  <script src="js/components/snackbar.js"></script>

</body>

</html>